.modal-overlay {
    position: fixed; /* или 'absolute', если это необходимо */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.60);
}