.burger-constructor {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    width: 88px;
}
.burger-tabs{
    display: flex;
    margin: 0 0 40px 0;
}

.burger-constructor-header {
    text-align: left;
    margin: 40px 0 20px 0;

}

.scrollable {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
}