.container {
    margin:  0 auto;

    display: flex;
    max-width: var(--container-width);
    width: 100%;

}

.profile {

    margin:120px 65px 0 0;
    width: 320px;
    display: flex;
    flex-direction: column;

}

.link {
    height: 64px;
    display: flex;
    align-items: center;
    width: 320px;

}
.info {
    color: var(--text-dark-grey-secondary-text);
    text-align: left;
}
.button-group-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.cancel{
    color: var(--interface-accent);
}
.outlet{
    margin-top: 40px;
}