.constructor-group-container {
    display: flex;
    width: 100%;
    padding: 0 16px;
}
.ingredient-element {
   display: flex;
    align-items: center;
}
.ingredient-element-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.scroll-container {
    overflow-y: auto;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.bun{
    margin-left: 34px;
}