.constructor-group-container {
    display: flex;
    /*border: 1px solid #ddd;*/
    width: 100%;
    overflow-y: auto;
    padding: 0 16px;
}
.ingredient-element {
   display: flex;
    align-items: center;
}
.ingredient-element-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}