.ingredient-details-container {
    margin: 120px auto 0 auto;
    width: 100%;
    max-width: 640px;
    max-height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ingredient-details-nutrition {
    display: flex;
    justify-content: space-between;
    padding: 32px 102px 0 102px ;
}
.ingredient-details-nutrition-item{
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    flex-direction: column;
    align-items: center;
}
.ingredient-details-image{
    height: 240px;
}

