.burger-header-container{
    padding: 16px 0;
    background-color: var(--interface-modal-bg);
}
.burger-header {
    width: 100%;
    height: 56px;
    display: flex;

}

.navbar-menu {
    display: flex;
    flex: 1;
    align-items: center;
}

.navbar__item {

    display: flex;
    align-items: center;
    text-decoration: none;
}
.navbar__item:hover {
    cursor: pointer;
    color: #ddd; /* Lighter text when hovering */
}
.navbar-menu.logo {
   justify-content: center;
}
.navbar-menu.profile{
    justify-content: flex-end;
}

